
@{
    ViewBag.Title = "DoctorDashboard";
}
<style>
       .as-patient{
        display:none;
        position:absolute;
        z-index:-9999;
    }

</style>

<br /><br /><br />

<h1>Dashboard of the Doctor</h1>