
@{
    ViewBag.Title = "ConfirmationDeleting";
}
<br /><br /><br />
<h2>Confirmation Your Deleting </h2>
<br /><br />
<p>خلي بالك</p>
<h3>Your Account Will Be Deleted Permanently</h3>


<h3>Please Enter Password To Confirm your Deletion </h3>
<input type="password" placeholder="Password Here" id="password" class="custom-control-input" />