
@{
    ViewBag.Title = "ConfirmationDeleting";
}

<h2 style="font-family:'Times New Roman', Times, serif; margin-left:36%;margin-top:5%;">Confirmation Your Deleting </h2>
<br />
<p class="text-center font-weight-bold text-warning" style="font-size:30px; ">خلي بالك</p>
<h3 class="text-center" style="margin-top:1%">Your Account Will Be Deleted Permanently</h3>


<h3 class="text-center" style="margin-top:4%;">Please Enter Password To Confirm your Deletion </h3>
<form method="post" >
    
    <input style="width:25%; margin-left:37%;margin-top:2%; height:33px; border-radius:15px;" type="password" placeholder="Password Here" class="text-center" value=""/>
    <input type="hidden" value="@ViewBag.deletedUserID" />

    <button class="btn btn-danger" style="margin-left:40%;margin-top:2%; width:20%;">Delete</button>
</form>